.backdrop {
  background: url('images/stripe.png') fixed, linear-gradient(#E0E0E0,#E0E0E0, rgba(225, 226, 40, 0.83));
}

.acari-heading {
  background: url(images/hex.png), url(images/hex-right.png) !important;
  background-position: top left, top right !important;
  background-repeat: repeat-y, repeat-y !important;
}

a {
  text-decoration: none;
  color: inherit
}


img {
  max-width: 100%;
  vertical-align: middle;
}

@font-face {
  font-family: 'proto';
  src: url('./fonts/Protos.otf');
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}